.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  font-size: 2rem;
  color: black;
  word-break: break-word;
  text-align: center;
}

.reduce-spacing {
    margin-bottom: -1rem;
  }

  .reduce-spacing-two {
    margin-bottom: -2rem;
  }

.App-link {
  color: #097969;
  line-height: 1.5;
  font-size: 20px;
  text-decoration: none;
  margin-right: 20px;
}

.App-link:last-child {
  margin-right: 0;
}

.App-link:hover {
  color: #62b4a7;
  text-decoration: line-through;
}
